.nav-link
{
    color: black!important;
    font-size: 15px;
    font-weight: 500;
    
}
.urban
{
    font-weight: 900;
    font-size: 2rem!important;
    color: rgb(65 194 100) !important;

}

.navbar-collapse
{
    text-align: left;
    padding-left: 10px;

}
.navbar-collapse.collapse.show
{
    border-bottom: 2px solid #EEEEEE;
    
}
.nav-link:hover
{
    color: green!important;
    
}
.navbar
{
    padding-top: 1.4%!important;

}

